{% extends 'base.html'%}
{% block content %}
<div class= "container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1> {{ name }} </h1>
        </div>
    </div>
    <div class="row">
        {% for article in all_news %}
        <div class="col-md-4">
            <a href={{article.url}} target="_blank">
                <img src={{article.urlToImage}} alt="Article Image...">
            </a>
            <div>
                <h4> {{article.title}} </h4>
                <p>{{article.author}}</p>
                <p>Posted on {{article.publishedAt}}</p>
                <br>
                <p>{{article.description}}
                    <a href={{article.url}} target="_blank">Read More</a>
                </p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}