<head>
    <style>
        a {
           font-size: 18px;
           margin-left: 50px;
        }
        a:hover{
            color: white;
        }
        .title {
            font-size: 35px;
            font-style: italic;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-collapse collapse nav navbar-nav">
                    <a href="#" class="title"> NEWS HIGHLIGHTS </a>
                    <br>
                    <hr>
                    <a href="#generalnews">General News</a> |
                    <a href="#businessnews">Business</a> |
                    <a href="#entertainmentnews">Entertainment</a> |
                    <a href="#healthnews">Health</a> |
                    <a href="#sciencenews">Science</a> |
                    <a href="#sportsnews">Sports</a> |
                    <a href="#technologynews">Technology</a> |
            </div>

        </div>
    </div>
</body>