<head>
    <style>
        a {
           font-size: 18px;
        }
        a:hover {
            color: green;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> News Highlights </a>
            </div>
            <div class="navbar-collapse collapse nav navbar-nav">
                    <a href="#generalnews">General News</a>
                    <hr>
                    <a href="#businessnews">Business</a>
                    <hr>
                    <a href="#entertainmentnews">Entertainment</a>
                    <hr>
                    <a href="#healthnews">Health</a>
                    <hr>
                    <a href="#sciencenews">Science</a>
                    <hr>
                    <a href="#sportsnews">Sports</a>
                    <hr>
                    <a href="#technologynews">Technology</a>
            </div>

        </div>
    </div>
</body>